* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100%;
    margin: 0;
    padding: 20px;
    background: radial-gradient(#A8A9AD, black);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 16px;
    line-height: 1.6;
    color: darkgray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 0;
    text-align: center;
}

p {
    font-weight: bold;
    font-size: x-large;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    margin: 5px;
    font-size: 16px;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-secondary {
    background-color: lightgreen;
    color: white;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn-green{
    background-color: darkgreen;
    color: white;
}

.btn:hover {
    opacity: 0.8;
}

input{
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus{
    border-color: #007bff;
    outline: none;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}

.col {
    flex: 1;
    padding: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
    color: lightgrey;
}

.car-row:hover {
    background-color: darkgray;
}